<div class="edit-card">
    <h2>Sign up</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="email">First Name:</label>
      <input type="email" id="email" name="email" [(ngModel)]="firstName" required />
      <label for="email">Last Name:</label>
      <input type="email" id="email" name="email" [(ngModel)]="lastName" required />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required />
  
      <button type="submit" >Save</button>
    </form>
  </div>
  